<div class="hd">
	<h1 class="page_title">订单信息</h1>
</div>
<div class="bd">
	<div class="weui_cells">
		<div class="weui_cell">
			<div class="weui_cell_bd weui_cell_primary">
				<p>号码</p>
			</div>
			<div class="weui_cell_ft">{{order.orderData.phoneno}}</div>
		</div>
		<div class="weui_cell">
			<div class="weui_cell_bd weui_cell_primary">
				<p>月套餐</p>
			</div>
			<div class="weui_cell_ft">{{order.orderData.cardpackage.name}}</div>
		</div>
		<div class="weui_cell">
			<div class="weui_cell_bd weui_cell_primary">
				<p>充值金额</p>
			</div>
			<div class="weui_cell_ft">{{order.orderData.cardpackage.fee/100}}元</div>
		</div>
		<div class="weui_cell">
			<div class="weui_cell_bd weui_cell_primary">
				<p>原到期时间</p>
			</div>
			<div class="weui_cell_ft">{{order.orderData.exFeeEndDate | date:'yyyy年MM月dd日'}}</div>
		</div>
		<div class="weui_cell">
			<div class="weui_cell_bd weui_cell_primary">
				<p>续费后到期时间</p>
			</div>
			<div class="weui_cell_ft">{{order.orderData.newFeeEndDate | date:'yyyy年MM月dd日'}}</div>
		</div>
	</div>
	<div class="weui_btn_area">
		<a class="weui_btn weui_btn_primary" data-ng-click="order.confirmOrder()">确认充值</a>
	</div>
</div>

<!-- loading toast -->
<div id="loadingToast" class="weui_loading_toast" data-ng-hide="order.loaded">
		<div class="weui_mask_transparent"></div>
		<div class="weui_toast">
				<div class="weui_loading">
						<div class="weui_loading_leaf weui_loading_leaf_0"></div>
						<div class="weui_loading_leaf weui_loading_leaf_1"></div>
						<div class="weui_loading_leaf weui_loading_leaf_2"></div>
						<div class="weui_loading_leaf weui_loading_leaf_3"></div>
						<div class="weui_loading_leaf weui_loading_leaf_4"></div>
						<div class="weui_loading_leaf weui_loading_leaf_5"></div>
						<div class="weui_loading_leaf weui_loading_leaf_6"></div>
						<div class="weui_loading_leaf weui_loading_leaf_7"></div>
						<div class="weui_loading_leaf weui_loading_leaf_8"></div>
						<div class="weui_loading_leaf weui_loading_leaf_9"></div>
						<div class="weui_loading_leaf weui_loading_leaf_10"></div>
						<div class="weui_loading_leaf weui_loading_leaf_11"></div>
				</div>
				<p class="weui_toast_content">数据加载中</p>
		</div>
</div>

