<div class="hd">
		<h1 class="page_title">流量卡续费</h1>
</div>
<div class="bd">
		<div class="weui_cells weui_cells_form">
				<div class="weui_cell" data-ng-class="{weui_cell_warn: recharge.hint}">
						<div class="weui_cell_hd"><label class="weui_label">手机号</label></div>
						<div class="weui_cell_bd weui_cell_primary">
								<input class="weui_input" type="tel" data-ng-model="recharge.data.phoneno" placeholder="请输入手机号"/>
						</div>
						<div class="weui_cell_ft">
								<i class="weui_icon_warn"></i>
						</div>
				</div>
		</div>
		<div class="weui_cells_tips" data-ng-show="recharge.hint"> {{recharge.hint}} </div>
		<div class="weui_btn_area">
				<a class="weui_btn weui_btn_primary" data-ng-click="recharge.submitPhoneno()">提交</a>
		</div>
</div>
